# AWS Region
aws_region = "ap-southeast-5"

# Environment name tagging
environment = "production"

# VPC network structure configuration
vpc_cidr                 = "10.0.0.0/16"
public_subnet_cidrs      = ["10.0.1.0/24", "10.0.2.0/24"]
private_app_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]
private_db_subnet_cidrs  = ["10.0.20.0/24", "10.0.21.0/24"]
availability_zones       = ["ap-southeast-5a", "ap-southeast-5b"]

# ASG Configuration
instance_type    = "t4g.micro"
min_size         = 2
max_size         = 6
desired_capacity = 2

# Database Configurations
db_engine         = "postgres"
db_engine_version = "16"
db_instance_class = "db.t4g.micro"
db_name           = "appdb"
db_username       = "dbadmin"
db_password       = "YOUR_SECURE_PASSWORD_HERE" # Change this!

# WAF configurations
waf_rate_limit = 2000
