# AWS Region
aws_region = "ap-southeast-5"

# Environment name tagging
environment = "production"

# VPC network structure configuration
vpc_cidr                 = "10.0.0.0/16"
public_subnet_cidrs      = ["10.0.1.0/24", "10.0.2.0/24"]
private_app_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]
private_db_subnet_cidrs  = ["10.0.20.0/24", "10.0.21.0/24"]
availability_zones       = ["ap-southeast-5a", "ap-southeast-5b"]

# ASG Configuration
# Options:
# - "t4g.micro"  (1 vCPU, 1GB RAM) - Dev/Testing
# - "t4g.medium" (2 vCPU, 4GB RAM) - Baseline Production (Matches Server 01 Frontend)
# - "t4g.xlarge" (4 vCPU, 16GB RAM) - High Performance (Matches Server 02 Backend / Server 03 AI workloads)
instance_type    = "t4g.micro"
min_size         = 2
max_size         = 6
desired_capacity = 2

# Database Configurations
db_engine         = "postgres"
db_engine_version = "16"
# Options:
# - "db.t4g.micro"  (2 vCPU, 1GB RAM) - Dev/Testing
# - "db.m6g.large"  (2 vCPU, 8GB RAM) - Baseline Production
# - "db.m6g.xlarge" (4 vCPU, 16GB RAM) - High Performance (Matches Server 04 Database specifications)
db_instance_class = "db.t4g.micro"
db_name           = "appdb"
db_username       = "dbadmin"
db_password       = "YOUR_SECURE_PASSWORD_HERE" # Change this!

# WAF configurations
waf_rate_limit = 2000

# Standalone EC2 configurations for developer/application requirements
enable_standalone_ec2             = true
standalone_ec2_instance_type      = "t4g.micro"
standalone_ec2_count              = 1
standalone_ec2_ami_id             = ""
standalone_ubuntu_ami_filter_name = "ubuntu/images/hvm-ssd-gp3/ubuntu-noble-24.04-*-server-*"
